@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap');

body{
    font-family: 'Lato', sans-serif;
    margin: 5px;
}
/* ----------------------------------------------------- MENU ----------------------------------------------------- */

div.navHeader ul.navHeaderItems{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

div.navHeader ul.navHeaderItems li{
    list-style: none;
}

div.navHeader ul.navHeaderItems li {
    list-style: none;
    width: 10%;
    text-align: center;
}

div.navHeader ul.navHeaderItems li.logo {
    display: flex;
    align-items: center;
}

div.navHeader ul.navHeaderItems li.logo img{
    width: 35px;
}

div.navHeader ul.navHeaderItems li.logo h2{
    margin: 0 5px;
    font-size: 22px;
    color: #ca2029;
}

div.navHeader ul.navHeaderItems li a{
    text-decoration: none;
    color: #111;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.4s all;
}

div.navHeader ul.navHeaderItems li a:active {
    font-size: 16px;
    background-color: #f2f2f2!important;
  }

  div.navHeader ul.navHeaderItems li a:hover {
    background-color: #efefef;
  }

div.navHeader ul.navHeaderItems li a.active{
    background-color: #efefef;
}

div.navHeader ul.navHeaderItems li a.round{
    border-radius: 20px;
}

div.navHeader ul.navHeaderItems li.searchBox{
    width: 60%;
    position: relative;
}

div.navHeader ul.navHeaderItems li.searchBox img{
    position: absolute;
    width: 35px;
    margin: 7px 2px;
    left: 5px;
}

div.navHeader ul.navHeaderItems li.searchBox input{
    width: calc(100% - 30px);
    line-height: 45px;
    border-radius: 25px;
    padding: 0 5px 0px 40px;
    font-size: 17px;
    border: 2px solid #d1d1d1;
}

    div.navHeader ul.navHeaderItems li:last-child {
    width: 2%;
    }

    div.navHeader ul.navHeaderItems li:last-child img{
        width: 18px;
        border-radius: 50%;
        padding: 1px;
        cursor: pointer;
        transition: 0.3s all;
    }
    
    div.navHeader ul.navHeaderItems li:last-child img:hover{
        background-color: #cccccc;
    }
    
    div.navHeader ul.navHeaderItems li:last-child img:active{
        padding: 0px;
    }

div.navHeader div.drpDown{
    position: absolute;
    top: 55px;
    right: 14px;
}

div.navHeader div.drpDown ul.dropDownMenu{
    display: none;
    transition: 0.3s all;
}

    div.navHeader div.drpDown ul.dropDownMenu.open{
        display: block;
        position: relative;
        margin: 0;
        padding: 10px 0;
        margin-top: 10px;
        border-radius: 4px;
        box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
        z-index: 10;
    }

    div.navHeader div.drpDown .overly{
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 0;
    }

    div.navHeader div.drpDown .overly.show{
        display: block;
    }

    div.navHeader div.drpDown ul.dropDownMenu li{
        list-style: none;
        padding: 5px 20px;
        transition: 0.3s all;
    }

        div.navHeader div.drpDown ul.dropDownMenu li:hover{
            background-color: whitesmoke;
        }

    div.navHeader div.drpDown ul.dropDownMenu li a{
        text-decoration: none;
        color: black;
        font-size: 18px;
    }


/* ----------------------------------------------------- TOP BOX DETAILS ----------------------------------------------------- */
.details{
    text-align: center;
}

    .details h1{
        font-size: 40px;
        font-weight: bold;
    }

    .details p.description{
        width: 35%;
        margin: 0 auto;
        line-height: 27px;
        font-size: 16px;
        font-weight: bold;
    }

        .details p.description span{
            color: gray;
        }

.details .categoryImageBox{
    background-color: #e4e4e4;
    width: 55px;
    border-radius: 50%;
    margin: 30px auto;
    transition: 0.3s all;
    cursor: pointer;
}

    .details .categoryImageBox:hover{
        background-color: #c7c6c6;
    }

    .details .categoryImageBox:active{
        width: 50px;
    }

    .details .categoryImageBox img{
        width: 100%;
        mix-blend-mode: multiply;
    }

.details p.author{
    font-size: 18px;
}

    .details p.author span.authorName{
        font-weight: bold;
    }


.details .similarBox .items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: 0 auto;
    }

    .details .similarBox .items .similarItem{
        padding: 5px;
        background-color: #ebebeb;
        margin: 0 2px;
        border-radius: 50px;
        cursor: pointer;
    }

    .details .similarBox .items .similarItem span.logo{
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-size: contain;
    }

    .details .similarBox .items .similarItem span.title{
        float: left;
        padding: 10px 10px;
        font-weight: bold;
    }


   /* ----------------------------------------------------- Message Error ----------------------------------------------------- */
    #messageError{
        position: relative;
        padding: 0.1em 1rem;
        margin: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    /* ----------------------------------------------------- PRODUCTS ----------------------------------------------------- */
#products{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: 20px;
    margin: 50px 10px;
}

.productItem{
    margin: 0 5px;
}

    .productItem h2{
        margin: 2px 0;
        font-size: 16px;
        line-height: 25px;
    }

    .productItem p{
        margin: 2px 0;
        text-align: justify;
        font-size: 14px;
    }

    .productItem .imageBox{
        text-align: center;
        position: relative;
        overflow: hidden;
        background-color: #f1f1f1;
        border-radius: 20px;
    }

        .productItem .imageBox img{
            background-image: url(./images/no-image.png);
            height: 400px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            mix-blend-mode: multiply;
        }

        .productItem .imageBox  a{
            position: absolute;
            top: 200%;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #0000009c;
            transition: 0.3s all;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 25px;
            text-decoration: none;
        }

        .productItem .imageBox:hover a{
            top: 0%;
        }

        .productItem .imageBox  span{
            position: absolute;
            transition: 0.3s all;
            left: 20px;
            top: 200%;
            text-decoration: none;
            color: white;
            z-index: 1;
            font-size: 13px;
        }

        .productItem .imageBox:hover span{
            top: 93%;
        }

        .outerTags{
            width: 100%;
            overflow: hidden;
            display: inline-block;
            height: 21px;
            padding: 5px 0;
            margin-bottom: 10px;
        }

                .productItem .outerTags .tags span{
                    background-color: #e8e8e8;
                    border-radius: 8px;
                    padding: 2px 10px;
                    line-height: 17px;
                    font-weight: bold;
                    font-size: 14px;
                    margin: 2px 1px;
                    float: left;
                    cursor: pointer;
                    transition: 0.3s all;
                }

                .productItem .outerTags .tags span:hover{
                    background-color: #f8f8f8d2;
                    text-decoration: solid;
                }
        
        .productItem ul{
            margin: 0;
            padding: 0;
        }

            .productItem ul li {
                 list-style: none;
            }


    /* ----------------------------------------------------- Small Screen ----------------------------------------------------- */
@media only screen and (max-width: 961px) {
    div.navHeader {
        border-bottom: 1px solid #e9e9e9;
    }

        div.navHeader ul.navHeaderItems li.logo{
            width: 55%;
        }

        div.navHeader ul.navHeaderItems li {
              width: 30%;
        }

    .details p.description{
        width: 85%;
    }

    .details .similarBox .items{
        width: 100%;
    }

    .details .similarBox .items .similarItem{
        padding: 0;
    }

    .details .similarBox .items .similarItem span.title {
        padding: 10px 5px;
        font-size: 12px;
    }

    #products{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }   

    .smallScreen{
        display: none;
    }

    div.navHeader ul.navHeaderItems li:last-child{
        display: none
    }
    
     .productItem .imageBox img{
     height: 500px!important;    
    }
}


@media only screen and (min-width: 962px)and (max-width: 1200px) {
    .details .similarBox .items{
        width: 50%;
    }
    
    #products{
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }   
}

    /* ----------------------------------------------------- Loading ----------------------------------------------------- */

#snippet{
    display: none;
    justify-content: center;
    height: 30px;
    align-items: center;
    margin: 25px 0;
}

.dot-shuttle {
    position: relative;
    left: -15px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: black;
    color: transparent;
    margin: -1px 0;
    filter: blur(.6px);
  }
  
  .dot-shuttle::before, .dot-shuttle::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: black;
    color: transparent;
    filter: blur(.6px);
  }
  
  .dot-shuttle::before {
    left: 15px;
    animation: dotShuttle 2s infinite ease-out;
  }
  
  .dot-shuttle::after {
    left: 30px;
  }
  
  @keyframes dotShuttle {
    0%,
    50%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-45px);
    }
    75% {
      transform: translateX(45px);
    }
  }
  
